name: simple_baby_tracker
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.4+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.4
  path_provider: ^2.1.5
  share_plus: ^7.2.1
  intl: ^0.19.0
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
  
  

  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
